.project {
  width: 100%;
  /* height: calc(100vh - 100px); */
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project h1 {
  margin-top: 50px;
  color: #502f64;
  font-size: 45px;
}

.project img {
  width: 700px;
  height: 500px;
  border-radius: 10px;
}

.project h2, .project p {
  font-size: 20px;
  color: #502f64;
  text-align: center;
}

.project p {
  text-align: justify;
  margin-left: 40px;
  margin-right: 40px;
}

.project svg {
  font-size: 60px;
  color: #502f64;;
}

/* .pdf {
  width: 600px;
  height: 150vh;
  text-align: center;
  margin: auto;
}

.pdf p {
  font-size: 18px;
  color: black;
  margin-bottom: 5px;
} */

.hidden {
  display: none;
}